body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Fira Code", source-code-pro, monospace;
}
a:visited, a:link, a:active {
	color: black;
}
